#mastermind {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 500px;
  background-color: peru;
}
#mastermind .container {
  display: flex;
}
#mastermind .reponseCircle {
  border: 3px solid black;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 10px;
  background-color: transparent;
}
#mastermind .validate {
  border: 3px solid black;
  height: 50px;
  width: 50px;
  margin: 10px;
}
#mastermind .indices {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  height: 30px;
  width: 70%;
  border: 3px solid black;
}
#mastermind .indices-slot {
  border-radius: 15px;
  height: 80%;
  width: 10%;
  border: 1px solid black;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#background {
  background-color: antiquewhite;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#background > * {
  width: 80%;
}

#title {
  height: 50px;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

#persos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}
#persos .persos-apercu {
  width: 20%;
}
#persos .persos-apercu img {
  width: 100%;
}
#persos .persos-apercu div {
  text-align: center;
  padding: 5px;
}

#controls {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
#controls button {
  height: 50px;
  width: 15%;
}

.modale {
  width: 600px;
  height: 60%;
}
.modale #modale-content {
  display: flex;
  flex-direction: column;
}
.modale #modale-content #modale-header {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 40px;
}
.modale #modale-content #modale-header #close {
  position: absolute;
  right: 30px;
}
.modale #modale-content #modale-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modale #modale-content #modale-body .item-cards {
  border: 1px solid black;
  width: 45%;
  height: 300px;
  margin: 10px;
  border-radius: 15px;
}
.modale #modale-content #modale-body .dialogue-historique-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 95%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.modale #modale-content #modale-body .dialogue-historique-container p {
  margin: 0;
}
.modale #modale-content #modale-body .dialogue-historique-container span {
  font-weight: bold;
  color: black;
}
.modale #modale-content #modale-body .dialogue-historique-container #spanRep {
  color: green;
}
.modale #modale-content #modale-body #modale-perso {
  width: 90%;
}
.modale #modale-content #modale-body #modale-perso #perso-recap {
  border: 2px solid black;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.modale #modale-content #modale-body #modale-perso #perso-recap img {
  height: 220px;
}
.modale #modale-content #modale-body #modale-perso #perso-recap #pName {
  border-bottom: 1px solid black;
  padding-right: 15px;
}
.modale #modale-content #modale-body #modale-perso #dialogue-container {
  text-align: center;
}
.modale #modale-content #modale-body #modale-perso #dialogue-container #dialogueLine {
  border: 2px solid black;
  padding: 6px;
  font-size: large;
  font-style: italic;
  margin-bottom: 10px;
}
.modale #modale-content #modale-body #modale-perso #dialogue-container .reponse {
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}
.modale #modale-content #modale-body #modale-perso #dialogue-container .reponse:hover {
  background-color: antiquewhite;
  cursor: pointer;
}