#mastermind{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 500px;
    background-color: peru;

    .container{
        display: flex;
    }

    .reponseCircle{
        border: 3px solid black;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        margin: 10px;
        background-color: transparent;
    }

    .validate{
        border: 3px solid black;
        height: 50px;
        width: 50px;
        margin: 10px;
    }
    .indices{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5px;
        height: 30px;
        width: 70%;
        border: 3px solid black;

        &-slot{
            border-radius: 15px;
            height: 80%;
            width: 10%;
            border: 1px solid black;
        }
    }
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

#background{

    background-color: antiquewhite;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & > *{
        width: 80%;
    }
}

#title{
    height: 50px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

#persos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;

    .persos-apercu{
        //border: 1px solid black;
        width: 20%;

        img{
            width: 100%;
        }

        div{
            text-align: center;
            padding: 5px;
        }
    }
}

#controls{
    display: flex;
    justify-content: space-between;
    padding: 20px;

    button{
        height: 50px;
        width: 15%;
    }
}

.modale{
    width: 600px;
    height: 60%;

    #modale-content{

    
        display: flex;
        flex-direction: column;
    
        #modale-header{
    
            display: flex;
            justify-content: center;
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 40px;
    
            #close{
                position: absolute;
                right: 30px;
            }
        }
    
        #modale-body{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .cards{
                border: 2px solid black;
                width: 45%;
                height: 150px;
                margin: 10px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            .item-cards{
                height: 300px;

                img{
                    max-height: 100px;
                    width: 100%;
                    object-fit: contain;
                    background-color: lighten($color: antiquewhite, $amount: 5);
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                    border: 1px solid black;
                }

                .item-title{
                    font-weight: bold;
                    font-size: large;
                }

                .item-desc{
                    font-style: italic;
                    padding: 10px;
                }
            }

            .move-cards{

                p{
                    padding-top: 3px;
                }

                img{
                    width: 100%;
                    background-color: grey;
                    height: 100px;
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                    
                }
            }

            .dialogue-historique-container{
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                width: 95%;
                //height: 30px;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 20px;

                p{
                    margin: 0;
                }

                span{
                    font-weight: bold;
                    color: black;
                }

                #spanRep{
                    color: green;
                }
            }

            #modale-perso{

                width: 90%;
                #perso-recap{
                    border: 2px solid black;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    img{
                        height: 220px;
                    }
                    #pName{
                        border-bottom: 1px solid black;
                        padding-right: 15px;
                    }
                }
    
                #dialogue-container{
                    text-align: center;

                    #dialogueLine{
                        border: 2px solid black;
                        padding: 6px;
                        font-size: large;
                        font-style: italic;
                        margin-bottom: 10px;
                    }

                    .reponse{
                        border-radius: 5px;
                        border: 1px solid black;
                        margin: 10px;
                        padding: 5px;

                        &:hover{
                            background-color: antiquewhite;
                            cursor: pointer;
                        }

                    }
                }
            }


        }
    }
}